*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
    font-family: ITC\ Benguiat\ Book;
    src: url(ITC\ Benguiat\ Book.ttf);
}

body {
    color: hsl(49, 28%, 74%);
    margin: 0;
    font-family: ITC\ Benguiat\ Book;
}

.wrapper {
    display: flex;
    justify-content: center;
}


/* First section */

.first-section {
    display: flex;
    max-width: 1486px;
    flex-direction: column;
    flex: 1;
    padding: 16px 216px 106px
}

.first-wrapper {
    background-color: #56513c;
}   

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.yorha-logo {
    height: auto;
    width: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.below-left {
    flex: 1 1 0;
}

.main-text {
    color: #e9e4df;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.sec-text {
    font-size: 16px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #6f5e4d;
    color: #f6f1f2;
    padding: 4px 28px;
}

.below-right {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
}

.live {
    border-radius: 15px;
    width: 300px;
    flex: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.658), 0 0 40px rgba(151, 149, 149, 0.514);
}

/* second section */

.second-section {
    background-color: rgb(243, 243, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 46px 216px 106px
}

.second-h1 {
    color: rgb(39, 38, 38);
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 46px;
}

.container {
    display: flex;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    
}
.auto {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 4px black, 0 0 6px black;
}

.text {
    color: black;
    padding-top: 10px;
    text-align: center;
}

a .auto:last-child {
    display: none;  
}
a:hover .auto:last-child {
    display: block;    
}
a:hover .auto:first-child {
    display: none;  
}

/* third-section */

.third-section {
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 86px;
    color: whitesmoke;
}

.container-2 {
    display: flex;
    width: 900px;
    flex-direction: column;
}

.paragraph {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.801);
    text-shadow: 0 0 2px rgba(255,255,255,.5), 0 0 1px rgba(255,255,255,.5);
}

.pod {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    width: 808px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.801);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.664)
}

/* fourth-section */

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 241);
    padding: 86px
}

.container-3 {
    display: flex;
    justify-content: space-between;
    background-color: #6f5e4d;
    color: #f6f1f2;
    width: 1054px;
    border-radius: 8px;
    padding: 48px 128px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.third-h1 {
    margin: 0;
    font-size: 24px;
    display: flex;
}

.text-under {
    margin: 0;
    color: #d1d0d0;
    font-size: 16px;
}

.last-button {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    padding: 6px 26px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bolder;
    border: white solid 2px;
}

/* footer */

footer {
    margin: auto;
    font-size: 17px;
    text-align: center;
    background-color: #56513c;
    padding: 24px;
}