*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
    font-family: ITC\ Benguiat\ Book;
    src: url(ITC\ Benguiat\ Book.ttf);
}

body {
    color: hsl(49, 28%, 74%);
    margin: 0;
    font-family: ITC\ Benguiat\ Book;
}

.wrapper {
    display: flex;
    justify-content: center;
}


/* First section */

.first-section {
    display: flex;
    max-width: 1426px;
    flex-direction: column;
    flex: 1;
    padding: 16px 216px 106px
}

.first-wrapper {
    background-color: #56513c;
}   

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.yorha-logo {
    height: auto;
    width: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.below-left {
    flex: 1 1 0;
}

.main-text {
    color: #e9e4df;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.sec-text {
    font-size: 16px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #6f5e4d;
    color: #f6f1f2;
    padding: 4px 28px;
}

.below-right {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
}

.live {
    border-radius: 15px;
    width: 300px;
    flex: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.658), 0 0 40px rgba(151, 149, 149, 0.514);
}

/* second section */

.second-section {
    background-color: rgb(243, 243, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 46px 216px 106px
}

.second-h1 {
    color: rgb(39, 38, 38);
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 46px;
}

.container {
    display: flex;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    
}
.auto {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 4px black, 0 0 6px black;
}

.text {
    color: black;
    padding-top: 10px;
    text-align: center;
}

a .auto:last-child {
    display: none;  
}
a:hover .auto:last-child {
    display: block;    
}
a:hover .auto:first-child {
    display: none;  
}
